<a href="https://colab.research.google.com/github/JuniorGunner/DataScience/blob/master/PythonDataScienceHandbook/03_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 03 - Data Manipulation with Pandas

In [5]:
import numpy as np
import pandas as pd

print(np.__version__, pd.__version__, sep='\n')

1.17.4
0.25.3

## Introducing Pandas Objects

### The Pandas Series Object

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
data[1]

0.5

In [11]:
data[1:3]

1    0.50
2    0.75
dtype: float64

* Series as generalized NumPy array

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [13]:
data['b']

0.5

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
data[5]

0.5

* Series as specialized dictionary

In [16]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
population['California']

38332521

In [20]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

* Constructing Series objects

In [22]:
# pd.Series(data, index=index)
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [23]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [24]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [25]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

### The Pandas DataFrame Object

* DataFrame as a generalized NumPy array

In [26]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [27]:
states = pd.DataFrame({'population': population,
'area': area})

states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [28]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [29]:
states.columns

Index(['population', 'area'], dtype='object')

* DataFrame as a specialized dictionary

In [30]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

* Constructing DataFrame objects

In [31]:
# From a single series object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [32]:
# From a list of dicts
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [33]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [34]:
# From a dictionary of series objects
pd.DataFrame({'population': population,
  'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [35]:
# From a two-dimensional NumPy array
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'],
  index=['a', 'b', 'c'])

        foo       bar
a  0.867438  0.588832
b  0.345341  0.056641
c  0.638545  0.489507

In [36]:
# From a NumPy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [37]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### The Pandas Index Object